{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Iniciar Sesión</h1>

    {% if form.errors %}
        <p class="error-message">Usuario o contraseña incorrectos</p>
    {% endif %}

    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">

        <!-- Botones -->
        <div class="form-actions">
            <button type="submit" class="btn btn-secondary" title="Login"><i class="fa-solid fa-right-to-bracket"></i></button>
            <a href="{% url 'landing' %}" class="btn btn-tertiary" title="Volver"><i class="fa-solid fa-arrow-rotate-left"></i></a>
        </div>
    </form>
</div>
{% endblock %}
